@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ec7969;
  --primary-dark: #262626;
  --secondary-dark:#1d1d1d;
  --overlay: rgba(0,0,0,.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Helvetica, Arial, sans-serif;
}


